<!DOCTYPE html>
<html>
<head>
    <title>提币记录表</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("app:fchargerecord:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("app:fchargerecord:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("app:fchargerecord:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">用户ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fChargeRecord.userId" placeholder="用户ID"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">冲币个数</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fChargeRecord.number" placeholder="冲币个数"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">积分数</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fChargeRecord.score" placeholder="积分数"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">冲币hash值</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fChargeRecord.hash" placeholder="冲币hash值"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">冲币账号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fChargeRecord.account" placeholder="冲币账号"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">冲币凭证</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fChargeRecord.pic" placeholder="冲币凭证"/>
                        </div>
                    </div>
                                                <div class="form-group">
                        <div class="col-sm-2 control-label">状态</div>
                        <div class="col-sm-10">
                            <label class="radio-inline"><input type="radio" name="state" value="1" v-model="fChargeRecord.state"> 申请中</label>
                            <label class="radio-inline"><input type="radio" name="state" value="2" v-model="fChargeRecord.state"> 审核通过完成</label>
                            <label class="radio-inline"><input type="radio" name="state" value="3" v-model="fChargeRecord.state"> 审核不通过</label>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fChargeRecord.createTime" placeholder="创建时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">更新时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fChargeRecord.updateTime" placeholder="更新时间"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/app/fchargerecord.js?_${.now?long}"></script>
</body>
</html>
