<!DOCTYPE html>
<html>
<head>
    <title>矿池管理</title>
    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
        <#if shiro.hasPermission("app:fpool:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
        </#if>
        <#if shiro.hasPermission("app:fpool:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
        </#if>
        <#if shiro.hasPermission("app:fpool:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </#if>
</div>
<table id="jqGrid"></table>
<div id="jqGridPager"></div>
</div>

<div v-show="!showList" class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2 control-label">矿池名</div>
            <div class="col-sm-10">
                <label class="radio-inline"><input type="text" name="userId" value="111" v-model="fPool.userId"> 合约互助池</label>
                <label class="radio-inline"><input type="text" name="userId" value="222" v-model="fPool.userId"> 预留奖金池</label>
                <label class="radio-inline"><input type="text" name="userId" value="333" v-model="fPool.userId"> 共识池</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">矿池资产</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="fPool.score" placeholder="矿池资产"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
            &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
        </div>
    </form>
</div>
</div>

<script src="${request.contextPath}/statics/js/modules/app/fpool.js?_${.now?long}"></script>
</body>
</html>
