<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("app:fproduct:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("app:fproduct:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("app:fproduct:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">排单名称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fProduct.name" placeholder="排单名称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">排单图片</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fProduct.pic" placeholder="排单图片"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">排单金额</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fProduct.score" placeholder="排单金额"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">排单商品状态</div>
                        <div class="col-sm-10">
                            <label class="radio-inline"><input type="radio" name="state" value="1" v-model="fProduct.status"> 正常</label>
                            <label class="radio-inline"><input type="radio" name="state" value="2" v-model="fProduct.status"> 已售完</label>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">排单商品描述</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fProduct.remark" placeholder="排单商品描述"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">规格描述</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fProduct.specificationDesc" placeholder="规格描述"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">规格</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fProduct.specification" placeholder="规格"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">静态奖励百分比</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fProduct.singleBack" placeholder="静态奖励百分比"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">累计奖励百分比</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fProduct.doubleBack" placeholder="累计奖励百分比"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">上限奖励百分比</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fProduct.maxBack" placeholder="上限奖励百分比"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fProduct.createTime" placeholder="创建时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">修改时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fProduct.updateTime" placeholder="修改时间"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/app/fproduct.js?_${.now?long}"></script>
</body>
</html>
