<!DOCTYPE html>
<html>
<head>
    <title>用户积分表流水详情</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("app:fuserscoredetail:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("app:fuserscoredetail:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("app:fuserscoredetail:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">用户ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fUserScoreDetail.userId" placeholder="用户ID"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fUserScoreDetail.orderId" placeholder="订单ID"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">用户当前可用积分</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fUserScoreDetail.score" placeholder="用户当前可用积分"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">用户当前冻结积分</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fUserScoreDetail.freezeScore" placeholder="用户当前冻结积分"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">操作类型；1：增加 2：减少</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fUserScoreDetail.operateType" placeholder="操作类型；1：增加 2：减少"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">本次操作积分</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fUserScoreDetail.operateScore" placeholder="本次操作积分"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">操作积分的业务类型</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fUserScoreDetail.detailType" placeholder="操作积分的业务类型"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">关联用户积分表</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fUserScoreDetail.userScoreId" placeholder="关联用户积分表"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">积分类型</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fUserScoreDetail.scoreType" placeholder="积分类型"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">状态：1.冻结中，2.冻结失败返现 3.冻结失败扣除4.已完成</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fUserScoreDetail.status" placeholder="状态：1.冻结中，2.冻结失败返现 3.冻结失败扣除4.已完成"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">自动排单：0否，1是</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fUserScoreDetail.automaticOrder" placeholder="自动排单：0否，1是"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">备注，业务单据号，奖励类别等</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fUserScoreDetail.remark" placeholder="备注，业务单据号，奖励类别等"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fUserScoreDetail.createTime" placeholder="创建时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">更新时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="fUserScoreDetail.updateTime" placeholder="更新时间"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/app/fuserscoredetail.js?_${.now?long}"></script>
</body>
</html>