<!DOCTYPE html>
<html>
<head>
    <title>用户积分表</title>
    <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <!--<#if shiro.hasPermission("app:fuserscore:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            </#if>-->
        <#if shiro.hasPermission("app:fuserscore:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;拨发积分</a>
        </#if>
        <!--<#if shiro.hasPermission("app:fuserscore:delete")>
        <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </#if>-->
    </div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
</div>

<div v-show="!showList" class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2 control-label">用户ID</div>
            <div class="col-sm-10">
                <input type="text"  class="form-control" disabled v-model="fUserScore.userId" placeholder="关联用户ID"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">可用投资余额</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" disabled v-model="fUserScore.score" placeholder="可用投资余额"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">拨发投资余额</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="fUserScore.changeScore" placeholder="拨发投资余额"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">冻结投资余额</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" disabled v-model="fUserScore.freezeScore" placeholder="冻结投资余额"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">收益余额</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" disabled v-model="fUserScore.earningsScore" placeholder="收益余额"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">创建时间</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" disabled v-model="fUserScore.createTime" placeholder="创建时间"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">更新时间</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" disabled v-model="fUserScore.updateTime" placeholder="更新时间"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..."
                   @click="updateScore" value="确定"/>
            &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
        </div>
    </form>
</div>
</div>

<script src="${request.contextPath}/statics/js/modules/app/fuserscore.js?_${.now?long}"></script>
</body>
</html>
