<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.javaboy.vhr.mapper.UserAccountMapper" >

  <!--  用户账户的添加-->
  <insert id="addUserAccount" parameterType="org.javaboy.vhr.model.UserAccount">
    insert into useraccount(id, name)
    values (#{id}, #{name})
  </insert>


  <select id="getUserAccountByName" parameterType="java.lang.String" resultType="org.javaboy.vhr.model.UserAccount">
      select * from
      useraccount
      where name = #{name}
  </select>
</mapper>